<div id="hero">
	<video autoplay muted loop id="heroVideo">
		<source src="media/heroV3.mov" type="video/mp4">
	</video>
	<div id="heroContent">
		<h1>Hi, I'm Adam. I design and develop<br>Shopify sites and web apps.</h1>
		<div><a class="btn">Enter Site</a></div>
	</div>
</div>
