<div id="hero">
	<video muted loop class="heroVideo">
		<source src="media/heroSquare.mp4" type="video/mp4">
	</video>
	<div class="heroOverlay"></div>
	<div class="heroContent">
		<h1>Hi, I'm Adam.</h1>
		<h1>I develop <span class="shopify">Shopify</span> sites and web apps.</h1>
		<div>
			<a id="heroBtn" class="btn">My Work</a>
			<p id="heroArrow">˅</p>
		</div>
	</div>
</div>
